<form method="post" action="/users/savefees">
    <div>
        <label>Description</label>
        <input type="text" name="desc" aria-multiline="true"/>
    </div>
    <div>
        <label>Debit</label>
        <input type="text" name="deb" />
    </div>
    <div>
        <label>Credit</label>
        <input type="text" name="cre" />
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>