<h2 class="page-header">Input Result</h2>
<form method="post" action="/results/inputresult">
    <div class="form-group">
        <label>Student</label>
        <input type="text" class="form-control" name="student">
    </div>
    <div class="form-group">
        <label>Class</label>
        <input type="text" class="form-control" name="class">
    </div>
    <div class="form-group">
        <label>Term</label>
        <input type="text" class="form-control" name="term">
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <label>Subject</label>
            <input type="text" class="form-control" name="subject">
        </div>
        <div class="form-group col-md-3">
            <label>First CA</label>
            <input type="text" class="form-control" name="firstca">
        </div>
        <div class="form-group col-md-3">
            <label>Second CA</label>
            <input type="text" class="form-control" name="secondca">
        </div>
        <div class="form-group col-md-3">
            <label>Exam</label>
            <input type="text" class="form-control" name="exam">
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>