<script>
    var app = angular.module('plunder',[]);

    app.controller('appCtrl', function ($scope) {
        $scope.items = [];

        $scope.addInputItem = function () {
            $scope.items.push({});
        }
    })
</script>

<h2 class="page-header">Change Timetable</h2>
<button ng-click="addInputItem()" class="btn btn-default">Add new row</button>
<form method="post" action="/timetable/newtimetable">
    <div>
        <label>Class:</label>
       <input type="text" class="form-control" name="class">
    </div>
    <!--<div class="row">

        <div class="form-group col-md-2">
            <label>Time</label>
            <input type="text" class="form-control" name="time1">
        </div>
        <div class="form-group col-md-2">
            <label>Monday</label>
            <input type="text" class="form-control" name="mon1">
        </div>
        <div class="form-group col-md-2">
            <label>Tuesday</label>
            <input type="text" class="form-control" name="tue1">
        </div>
        <div class="form-group col-md-2">
            <label>Wednesday</label>
            <input type="text" class="form-control" name="wed1">
        </div>
        <div class="form-group col-md-2">
            <label>Thursday</label>
            <input type="text" class="form-control" name="thur1">
        </div>
        <div class="form-group col-md-2">
            <label>Friday</label>
            <input type="text" class="form-control" name="fri1">
        </div>
    </div>-->
    <div>
        <table>
            <thead>
                <tr>
                    <td>Time</td>
                </tr>
                <tr>
                    <td>Monday</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                </tr>
                <tr>
                    <td>Friday</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td><input type="text" class="form-control" ng-model="item.value"></td>
                </tr>
                <tr ng-repeat="item in items">
                    <td><input type="text" class="form-control" ng-model="item.value"></td>
                </tr>
                <tr ng-repeat="item in items">
                    <td><input type="text" class="form-control" ng-model="item.value"></td>
                </tr>
                <tr ng-repeat="item in items">
                    <td><input type="text" class="form-control" ng-model="item.value"></td>
                </tr>
                <tr ng-repeat="item in items">
                    <td><input type="text" class="form-control" ng-model="item.value"></td>
                </tr>
                <tr ng-repeat="item in items">
                    <td><input type="text" class="form-control" ng-model="item.value"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>