<h2 class="page-header">Change Timetable</h2>
<form method="post" action="/timetable/newtimetable">
    <div>
        <label>Class:</label>
       <input type="text" class="form-control" name="class">
    </div>
    <div class="row">
        <div class="form-group col-md-2">
            <label>Time</label>
            <input type="text" class="form-control" name="time1">
        </div>
        <div class="form-group col-md-2">
            <label>Monday</label>
            <input type="text" class="form-control" name="mon1">
        </div>
        <div class="form-group col-md-2">
            <label>Tuesday</label>
            <input type="text" class="form-control" name="tue1">
        </div>
        <div class="form-group col-md-2">
            <label>Wednesday</label>
            <input type="text" class="form-control" name="wed1">
        </div>
        <div class="form-group col-md-2">
            <label>Thursday</label>
            <input type="text" class="form-control" name="thur1">
        </div>
        <div class="form-group col-md-2">
            <label>Friday</label>
            <input type="text" class="form-control" name="fri1">
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>